<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/08bfd4d6f5.js"
	crossorigin="anonymous"></script>

</head>
<body>

	<h2 class="text-center">Update Form</h2>
	<section class="row  justify-content-center">

		<form action="#" th:action="@{/addQuestion}"
			th:object="${newquestion}" method="post"
			class="col-md-6 col-sm-6 col-6 form-container">

			<div class="form-group">
				<label> question:</label> <input type="text" class="form-control"
					placeholder="Enter question" th:field="*{question}">
			</div>
			<input type="hidden" th:field="*{id}">
			<div class="form-group">
			<label>Which type question:</label>
    			<select th:field="*{type}">
      				<option value="programming">programming</option>
      				<option value="aptitude">aptitude</option>
      				<option value="reasoning">reasoning</option>
  				</select>
			</div>
			<div class="form-group">
				<label>option1:</label> <input type="text" class="form-control"
					placeholder="Enter option1" th:field="*{option1}">
			</div>
			<div class="form-group">
				<label>option2:</label> <input type="text" class="form-control"
					placeholder="Enter option2" th:field="*{option2}">
			</div>
			<div class="form-group">
				<label>option3:</label> <input type="text" class="form-control"
					placeholder="Enter option3" th:field="*{option3}">
			</div>
			<div class="form-group">
				<label>option4:</label> <input type="text" class="form-control"
					placeholder="Enter option4" th:field="*{option4}">
			</div>
			<div class="form-group">
				<label>Answer:</label> <input type="text" class="form-control"
					placeholder="Enter answer" th:field="*{annswer}">
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>


		</form>
	</section>





</body>
</html>